
{% set CLUSTER_TYPE = env['project'] + '/' + properties['clusterType'] %}

{% set COLLECTION_PREFIX = '/api/v1/namespaces/{namespace}/' %}
{% set RC_COLLECTION = COLLECTION_PREFIX + 'replicationcontrollers' %}
{% set SERVICE_COLLECTION = COLLECTION_PREFIX + 'services' %}

{% set NAME_PREFIX = env['name'] %}

{% set CQL_PORT = properties['cql_port'] %}
{% set THIRFT_PORT = properties['thirft_port'] %}

resources:

- name: {{ NAME_PREFIX }}
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ NAME_PREFIX }}
    spec:
      ports:
      - name: cql
        port: {{ CQL_PORT }}
        targetPort: 9042
        protocol: TCP
      - name: thrift
        port: {{ THIRFT_PORT }}
        targetPort: 9160
        protocol: TCP
      selector:
        name: {{ NAME_PREFIX }}

- name: {{ NAME_PREFIX }}-rc
  type: {{ CLUSTER_TYPE }}:{{ RC_COLLECTION }}
  properties:
    apiVersion: v1
    kind: ReplicationController
    namespace: default
    metadata:
      name: {{ NAME_PREFIX }}-rc
    spec:
      template:
        metadata:
          labels:
            name: {{ NAME_PREFIX }}
        spec:
          containers:
          - name: cassandra
            image: {{ properties['image'] }}
            ports:
              - containerPort: 9042
                name: cql
              - containerPort: 9160
                name: thrift
            volumeMounts:
            - mountPath: /cassandra_data
              name: data
          volumes:
          - name: data
            emptyDir: {}

