{% set CLUSTER_TYPE = env['project'] + '/' + properties['clusterType'] %}

{% set COLLECTION_PREFIX = '/api/v1/namespaces/{namespace}/' %}
{% set RC_COLLECTION = COLLECTION_PREFIX + 'replicationcontrollers' %}
{% set SERVICE_COLLECTION = COLLECTION_PREFIX + 'services' %}

{% set NAME_PREFIX = env['name'] %}

{% set PROXY_PORT = properties['proxy_port'] %}
{% set SSL_PROXY_PORT = properties['ssl_proxy_port'] %}
{% set ADMIN_PORT = properties['admin_port'] %}
{% set DATABASE = properties['database'] %}
{% set ADMIN_CIDR = properties['admin_cidr'] %}
{% set PROXY_CIDR = properties['proxy_cidr'] %}

resources:
- name: {{ NAME_PREFIX }}-proxy
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ NAME_PREFIX }}-proxy
    spec:
      # Creates an external IP through network load-balancer.
      type: LoadBalancer
      loadBalancerSourceRanges:
      - {{ PROXY_CIDR }}
      ports:
      - name: {{ NAME_PREFIX }}-proxy
        port: {{ PROXY_PORT }}
        targetPort: 8000
        protocol: TCP
      - name: {{ NAME_PREFIX }}-proxy-ssl
        port: {{ SSL_PROXY_PORT }}
        targetPort: 8443
        protocol: TCP
      selector:
        app: {{ NAME_PREFIX }}

- name: {{ NAME_PREFIX }}-admin
  type: {{ CLUSTER_TYPE }}:{{ SERVICE_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: default
    metadata:
      name: {{ NAME_PREFIX }}-admin
    spec:
      # Creates an external IP through network load-balancer.
      type: LoadBalancer
      loadBalancerSourceRanges:
      - {{ ADMIN_CIDR }}
      ports:
      - name: {{ NAME_PREFIX }}-admin
        port: {{ ADMIN_PORT }}
        targetPort: 8001
        protocol: TCP
      selector:
        app: {{ NAME_PREFIX }}

- name: {{ NAME_PREFIX }}-rc
  type: {{ CLUSTER_TYPE }}:{{ RC_COLLECTION }}
  properties:
    apiVersion: v1
    kind: ReplicationController
    namespace: default
    metadata:
      name: {{ NAME_PREFIX }}-rc
      app: {{ NAME_PREFIX }}
    spec:
      template:
        metadata:
          labels:
            name: {{ NAME_PREFIX }}-rc
            app: {{ NAME_PREFIX }}
        spec:
          containers:
          - name: container
            image: {{ properties['image'] }}
            env:
              - name: KONG_DATABASE
                value: {{ properties['database'] }}
              - name: KONG_CASSANDRA_CONTACT_POINTS
                value: {{ properties['cassandra_contact_points'] }}
              - name: KONG_CASSANDRA_PORT
                value: {{ properties['cassandra_port'] }}
              - name: KONG_CASSANDRA_CONSISTENCY
                value: {{ properties['cassandra_consistency'] }}
              - name: KONG_PG_USER
                value: {{ properties['pg_user'] }}
              - name: KONG_PG_DATABASE
                value: {{ properties['pg_database'] }}
              - name: KONG_PG_PASSWORD
                value: {{ properties['pg_password'] }}
              - name: KONG_PG_HOST
                value: {{ properties['pg_host'] }}  
              - name: KONG_DNS_RESOLVER
                value: {{ properties['dns_resolver'] }}
              - name: KONG_DNSMASQ
                value: "off"
              - name: KONG_LOG_LEVEL
                value: {{ properties['log_level'] }}
              - name: KONG_CASSANDRA_KEYSPACE
                value: {{ properties['cassandra_keyspace'] }}  
            ports:
            - name: admin
              containerPort: 8001
              protocol: TCP
            - name: proxy
              containerPort: 8000
              protocol: TCP
            - name: proxy-ssl
              containerPort: 8443
              protocol: TCP
            - name: surf-tcp
              containerPort: 7946
              protocol: TCP
            - name: surf-udp
              containerPort: 7946
              protocol: UDP

